<app-form (birthDay)="setBirthDay($event)" (yearsToDeath)="setLongevity($event)"></app-form>


<div *ngIf="showDays" class="days">

    <div class="container">
        <p>Вы прожили: {{ passedDays }}</p>
        <p>Осталось дней: {{ futureDays }}</p>
        <p>Всего: {{ passedDays + futureDays }}</p>
    </div>

    <div *ngFor="let dummy of ' '.repeat(passedDays).split(''), let i = index">
        <app-day  numberDay="{{i}}"></app-day>
    </div>
    <div *ngFor="let dummy of ' '.repeat(futureDays).split(''), let i = index">
        <app-day  numberDay="{{i}}" [passed]="false"></app-day>
    </div>
</div>